    {% extends 'base.html.twig' %}
    {% block title %}Bienvenu{% endblock %}

    {% block body %}
        <h1>{{ title }}</h1>

        {% if age > 18 %}
            <p>Tu es majeur</p>
        {% else %}
            <p>Tu es mineur</p>
        {% endif %}

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quod enim consequuntur dolor atque nobis ex delectus ab molestias illo odio, quas mollitia blanditiis molestiae nemo ipsa perspiciatis quos natus sequi aliquid velit nisi deleniti. Inventore reiciendis omnis harum ipsam magnam excepturi quaerat quae corporis suscipit provident in aliquam error, accusamus perferendis expedita fugit neque consequatur veniam eum quidem earum laborum veritatis dicta! Nam laudantium laboriosam cum provident inventore nostrum earum rerum debitis. Facere quae optio sequi accusamus iste soluta corrupti pariatur assumenda enim vitae laudantium aliquid, hic maiores labore beatae delectus quidem recusandae vel dolores molestiae explicabo voluptatum quam eligendi porro! Sint, modi? Illum ducimus, debitis ad error ipsum quasi a velit voluptate. Libero et aliquam facere impedit atque, nobis temporibus dolorum soluta explicabo animi deserunt reprehenderit sed rem? Libero, excepturi repudiandae sit porro voluptate voluptates rem voluptas illo eaque fugit suscipit odit, sed qui, sapiente fugiat aspernatur magnam?</p>
        <p>Dignissimos commodi explicabo iure provident, minima recusandae praesentium ab magni voluptatem esse accusantium quisquam quia dicta sit qui repellendus? Ullam veritatis at itaque incidunt ipsum? Quas distinctio laudantium quibusdam aliquam autem a incidunt dolorum esse nisi aut ullam veniam harum, blanditiis tenetur provident iusto ipsum asperiores, laboriosam accusantium voluptatum numquam at nam. Voluptas, ex error? Modi quod dolorem consequatur eos cum optio et, ad rerum, perspiciatis maxime autem laboriosam omnis reprehenderit id consequuntur natus eius? Eius, labore? Natus, quidem? Necessitatibus quasi enim ad odit quos quod culpa, quibusdam nisi. Commodi quaerat ex earum saepe possimus unde nulla, cum praesentium vero voluptate molestiae enim neque optio quibusdam, placeat eligendi? Modi quos optio harum ratione veniam similique dolores, debitis facilis sunt quisquam ut molestiae fuga repudiandae a nam doloremque hic doloribus aperiam assumenda unde consequuntur voluptate est voluptates! Veniam, cupiditate, explicabo, modi obcaecati maiores rem eveniet ab temporibus repellendus nam quam nostrum!</p>
    {% endblock %}
